{% extends 'layouts/base.html' %}

{% block body_class %}home{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="row">
      <h1>{{ current_event }}</h1>
      <em>{{ current_event.dates }}</em>
    </div>
  </div>

  {% if sponsors %}
    <div class="row">
      <div class="large-offset-2 large-8 columns">
        <h2>Sponsors</h2>
        <ul class="sponsors large-block-grid-3 small-block-grid-2">
          {% for sponsor in sponsors %}
            <li>
              <a href="{{ url_for('sponsors.index') }}#{{ sponsor.slug }}">
                <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

  <div class="row">
    <div class="large-12 columns">
      <div class="cta">
        {% if current_event.is_call_for_proposals_active %}
          <a href="{{ url_for('talks.call_for_proposals') }}">
            Call for proposals now open!
          </a>
        {% elif current_event.is_call_for_proposals_expired %}
          {% if current_event.is_registration_active %}
            <a href="{{ current_event.registration_url }}">Registration is open!!</a>
          {% endif %}
        {% else %}
          The call for proposals opens on
          {{ current_event.proposals_begin.strftime('%A, %B %-d') }}.  Be sure
          to check back then.
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
