{% extends 'layouts/base.html' %}

{% block body_class %}{{ super() }} home{% endblock %}

{% block main %}
  <section class="jumbotron">
    <div class="pg-logo"></div>
    <div class="liberty"></div>
    <div class="skyline">
    </div>
    <div class="river">
      <div class="boat"></div>
      <div class="waves"></div>
      <div class="water"></div>
    </div>
    <div class="nj"></div>
  </section>

  {% if sponsors %}
    <section class="sponsors">
      <h2>Sponsors</h2>
    </section>
  {% endif %}

  {% if announcements %}
    <section class="announcements">
      <h2>Announcements</h2>
    </section>
  {% endif %}
{% endblock %}
