{% extends 'layouts/base.html' %}

{% from 'foundation_wtf.html' import horizontal_field %}

{% block title %}Change password - {{ super() }}{% endblock %}

{% block main %}
  <div class="row">
    <div class="large-12 columns">
      <form action="{{ url_for('security.forgot_password') }}" method="POST" name="change_password_form">
        {{ change_password_form.hidden_tag() }}
        <div class="row">
          {{ horizontal_field(change_password_form.password, placeholder='Current password') }}
        </div>
        <div class="row">
          {{ horizontal_field(change_password_form.new_password, placeholder='New password') }}
        </div>
        <div class="row">
          {{ horizontal_field(change_password_form.new_password_confirm, placeholder='Confirm password') }}
        </div>
        <div class="form-actions">
          <button type="submit" class="button radius">Change password</button>
        </div>
    </div>
  </div>
{% endblock %}
