{% extends 'layouts/base.html' %}

{% from 'macros/forms.html' import horizontal_field %}

{% block title %}Forgot password - {{ super() }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <form action="{{ url_for('security.forgot_password') }}" method="POST" name="forgot_password_form">
        {{ forgot_password_form.hidden_tag() }}
        <div class="row">
          {{ horizontal_field(forgot_password_form.email, placeholder='Email address') }}
        </div>
        <div class="form-actions">
          <button type="submit" class="button radius">Reset password</button>
        </div>
    </div>
  </div>
{% endblock %}
