{% extends 'layouts/base.html' %}

{% from 'foundation_wtf.html' import horizontal_field %}
{% from 'security/_macros.html' import render_field, render_field_with_errors %}

{% block title %}Log in - {{ super() }}{% endblock %}

{% block main %}
  <div class="row">
    <div class="large-12 columns">
      <form action="{{ url_for('security.login') }}" method="POST" name="login_user_form">
        {{ login_user_form.hidden_tag() }}

        <div class="row">
          {{ horizontal_field(login_user_form.email, placeholder='Email address') }}
        </div>
        <div class="row">
          {{ horizontal_field(login_user_form.password, placeholder='Password') }}
        </div>
        <div class="row">
          {{ render_field_with_errors(login_user_form.remember) }}
        </div>
        <div class="row">
          {{ render_field(login_user_form.next) }}
        </div>
          <div class="form-actions">
            <button type="submit" class="button radius">Log in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
