{% extends 'layouts/base.html' %}

{% from 'foundation_wtf.html' import horizontal_field %}

{% block title %}Reset password - {{ super() }}{% endblock %}

{% block main %}
  <div class="row">
    <div class="large-12 columns">
      <form action="{{ url_for('security.reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
        {{ reset_password_form.hidden_tag() }}
        <div class="row">
          {{ horizontal_field(reset_password_form.password, placeholder='Password') }}
        </div>
        <div class="row">
          {{ horizontal_field(reset_password_form.password_confirm, placeholder='Confirm Password') }}
        </div>
        <div class="form-actions">
          <button type="submit" class="button radius">Reset password</button>
        </div>
    </div>
  </div>
{% endblock %}
