{% extends 'layouts/base.html' %}

{% block title %}FAQ - {{ super() }}{% endblock %}

{% block main %}
  <div class="row">
    <h1>FAQ</h1>

    <h4>
      I'm speaking at the conference. Will you cover my travel and lodging
      costs?
    </h4>
    <p>
      Sorry, no. While we'd love to provide free travel, lodging, and gokarts to
      everyone that attends the conference, we simply don't have the sponsorship
      required to do so. Want to <a href="/sponsors/prospectus">change that</a>?
    </p>

    <h4>I missed the CFP deadline, can I submit a talk late?</h4>
    <p>We're already full-up on talks, but keep it handy for next year.</p>

    <h4>I want to volunteer.</h4>
    <p>
      Great! Send an email to
      <a href="mailto:volunteer@pygotham.org">volunteer@pygotham.org</a>, and
      we'll be in touch soon.
    </p>

    <h4>
      I have another question, and I solemnly swear that it is not answered on
      this page already.
    </h4>
    <p>
      We're happy to answer it for you. Email us at
      <a href="mailto:pygotham@googlegroups.com">pygotham@googlegroups.com</a>.
    </p>
  </div>
{% endblock %}
