{% extends 'layouts/base.html' %}

{% block title %}Privacy Policy - {{ super() }}{% endblock %}

{% block main %}
  <div class="row">
    <h1>Privacy Policy:</h1>

    <p>Information we collect:<br> We collect names, email addresses, and
    passwords. Passwords are encrypted, and we have no way of retrieving them.
    If your password is lost, you must reset it through our
    <a href="{{ url_for('security.forgot_password') }}">forgot password</a>
    page.

    <p>What we do with this information:<br> We take privacy very seriously. We
    use email addresses to send updates and conference related info to
    attendees. It is not used for any other purpose, nor is it given or sold to
    any other party, including other attendees or sponsoors.</p>

    <p>Feel free to contact
    <a href="mailto:pygotham@googlegroups.com">pygotham@googlegroups.com</a> for
    details involving privacy.</p>
  </div>
{% endblock %}
