{% macro messages() %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert-box {{ category }}" data-alert>
          {{ message }}
          <a href="#" class="close">&times;</a>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}

{% macro unpublished() %}
  <div class="alert-box alert" data-alert>
    This page is not yet published.
    <a href="#" class="close">&times;</a>
  </div>
{% endmacro %}
