@import "settings";
@import "foundation";

@import url(//fonts.googleapis.com/css?family=Titillium+Web);
@import url(//fonts.googleapis.com/css?family=Poiret+One);

$dividing-width: 640px;
$footer-height: rem-calc(125);

@mixin tablet {
  @media only screen and (max-width: 640px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 640px) {
    @content;
  }
}

body.home {
  background: $black;
}

table.proposals {
  width: 100%;
}

table.schedule {
  width: 100%;

  th {
    text-align: center;
  }

  td,
  th {
    border: 1px solid #ddd;
  }

  td {
    &.time {
      vertical-align: top;
      width: 83px;
    }

    &.presentation {
      text-align: center;

      a.title {
        display: block;
      }
    }
  }
}

.top-bar {
  @include desktop {
    padding: 0 2em;
  }

  li.name > a > img {
    display: inline-block;
    height: 45px;
    padding: 5px;
  }
}

.top-bar-section {
  .has-dropdown > a:after {
    border-color: $gold rgba($black, 0) rgba($black, 0);
  }

  .has-dropdown > a:hover:after {
    border-color: $white rgba($black, 0) rgba($black, 0);
  }

  ul li {
    &.login, &.register {
      background: $black;

      @include desktop {
        margin-left: 1em;
      }

      @include tablet {
        float: left;
        width: 50%;
      }

      a {
        height: auto;
        text-transform: uppercase;

        @include desktop {
          border-radius: $global-radius;
        }
      }
    }

    @include tablet {
      &.login:last-child {
        width: 100%;
      }
    }

    &.login > a {
      background: $primary-color;
    }

    &.register > a {
      background: $white;
      color: $black;
    }
  }
}

#content {
  margin-bottom: -$footer-height;
  margin-top: -$topbar-height;
  min-height: 100%;
  padding-top: 20px;

  &:before {
    border-bottom: 5px solid $white;
    content: "";
    display: block;
    height: $topbar-height - 1;
    margin-bottom: 20px;
  }

  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }

  h1 {
    background: $black;
    color: $gold;
    font-family: $font-family-heading;
    font-size: $h2-font-size;
    text-align: center;
    text-transform: uppercase;

    @include desktop {
      border-radius: $global-radius;
    }
  }

  h2 {
    color: $black;
    text-decoration: underline;
    font-family: $font-family-heading;
    font-size: $h4-font-size;

    body.home & {
      margin: 10px 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .jumbotron {
    overflow: hidden;
    padding: 2em;
    text-align: center;

    img {
        display: block;
        margin: auto;
        max-height: 66%;
    }

    h1 {
      font-family: 'Poiret One';
      color: $gold;
    }

    h3 {
      font-family: 'Poiret One';
      color: $white;
    }
  }
}

.cta {
  font-size: $h1-font-size;
  padding: 1em;
  text-align: center;
}

body.home ul.sponsors li {
  margin-top: 15px;
}

body.sponsors ul.sponsors li {
  text-align: center;

  p {
    margin: {
      bottom: 0;
      top: 15px;
    }

    text-align: left;
  }

  h4 {
    margin: {
      bottom: 0;
      top: 15px;
    }
  }
}

body.venue #content .row {
  margin-bottom: 2em;

  p {
    white-space: pre-line;
  }
}

.accepted-talks {
  list-style: none;
  margin: 0;
}

.accepted-talks li {
  border: 1px solid #999;
  border-radius: 3px;
  margin-bottom: 15px;
  overflow: auto;
  padding: 15px;
}

.speaker .presentations {
  list-style: none;
  margin: 0;
}

footer {
  background: $black;
  color: $white;
  display: block;
  font-size: 10pt;
  height: $footer-height;
  line-height: 1.5;
  text-align: center;

  .credits {
    padding: 20px 0;
  }

  a {
    color: $gold;
  }
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
