@import "settings";
@import "foundation";

@import url(//fonts.googleapis.com/css?family=Titillium+Web);

$dividing-width: 640px;
$footer-height: rem-calc(125);

@mixin tablet {
  @media only screen and (max-width: 640px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 640px) {
    @content;
  }
}

table.proposals,
table.schedule {
  width: 100%;
}

.top-bar {
  @include desktop {
    padding: 0 2em;
  }

  li.name {
    background: url(../img/logo.png) no-repeat 50% 50%;
    background-size: 35px 35px;
    height: 45px;
    overflow: hidden;
    text-indent: -9999px;
    width: 45px;

    body.home & {
      @include desktop {
        display: none;
      }
    }
  }
}

.top-bar-section {
  .has-dropdown > a:after {
    border-color: $teal rgba($black, 0) rgba($black, 0);
  }

  ul li {
    &.login, &.register {
      background: $white;

      @include desktop {
        margin-left: 1em;
      }

      @include tablet {
        float: left;
        width: 50%;
      }

      a {
        height: auto;
        text-transform: uppercase;

        @include desktop {
          border-radius: $global-radius;
        }
      }
    }

    @include tablet {
      &.login:last-child {
        width: 100%;
      }
    }

    &.login > a {
      background: $teal;
    }

    &.register > a {
      background: $gold;
    }
  }
}

#content {
  border-top: 5px solid $teal;
  margin-bottom: -$footer-height;
  min-height: 100%;
  padding-top: 20px;

  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }

  h1,
  h2 {
    @include desktop {
      border-radius: $global-radius;
    }
  }

  h1 {
    background: $dark-blue;
    color: $white;
    font-size: $h2-font-size;
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    background: $teal;
    color: $white;
    font-size: $h5-font-size;
    padding: 0.25em 0.5em;

    body.home & {
      margin: 10px 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .jumbotron {
    background: $dark-blue;
    color: $teal;
    overflow: hidden;
    padding: 2em;
    text-align: center;

    h1 {
      background: url(../img/home/logo.png) no-repeat 50% 50%;
      text-indent: -9999px;
      width: 100%;

      @include tablet {
        background-size: 80%;
      }
    }

    em {
      font-size: $h3-font-size;
      font-style: normal;
    }
  }
}

.cta {
  font-size: $h1-font-size;
  padding: 2em;
  text-align: center;
}

body.home ul.sponsors li {
  margin-top: 15px;
}

body.sponsors ul.sponsors li {
  h4 {
    margin: {
      bottom: 0;
      top: 15px;
    }
  }
}

.accepted-talks {
  list-style: none;
  margin: 0;
}

.accepted-talks li {
  border: 1px solid #999;
  border-radius: 3px;
  margin-bottom: 15px;
  overflow: auto;
  padding: 15px;
}

.speaker .presentations {
  list-style: none;
  margin: 0;
}

footer {
  background: $dark-blue;
  color: $white;
  display: block;
  font-size: 10pt;
  height: $footer-height;
  line-height: 1.5;
  text-align: center;

  .credits {
    padding: 20px 0;
  }

  a {
    color: $gold;
  }
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
