{% extends 'layouts/base.html' %}

{% block title %}Dashboard - {{ super() }}{% endblock %}

{% block content %}
  {% if talks.count() %}
    <div class="row">
      <div class="large-12 columns">
        <h2>Your Proposals</h2>
        <table class="proposals">
          <thead>
            <tr>
              <th>Title</th>
              <th>Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for talk in talks %}
              <tr>
                <td>
                  {{ talk }}
                  {% if talk.is_accepted and current_event.talks_are_published %}
                    <span class="label radius">accepted</span>
                  {% endif %}
                </td>
                <td>{{ talk.type }}</td>
                <td>
                  <a href="{{ url_for('talks.edit', pk=talk.id) }}" class="button tiny radius">Edit</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% elif current_event.is_call_for_proposals_active %}
    <div class="row">
      <div class="large-12 columns">
        <h2>Your Proposals</h2>
        The call for proposals is still open. Why not
        <a href="{{ url_for('talks.submit') }}">submit a talk</a>?
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="large-12 columns">
      <h2>Your Volunteer Status</h2>
      <p>
        {% if current_user.is_volunteer %}
          You are signed up to be a volunteer. Thanks!
          <a href="{{ url_for('profile.unvolunteer') }}">I changed my mind.</a>
        {% else %}
          You aren't signed up to be a volunteer.
          <a href="{{ url_for('profile.volunteer') }}">Sign me up!</a>
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}
