{% extends 'layouts/base.html' %}

{% block title %}Dashboard - {{ super() }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h2>Your Proposals</h2>
      {% if talks.count() %}
        <table class="proposals">
          <thead>
            <tr>
              <th>Title</th>
              <th>Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for talk in talks %}
              <tr>
                <td>
                  {{ talk }}
                  {% if talk.is_accepted and current_event.talks_are_published %}
                    <span class="label radius">accepted</span>
                  {% endif %}
                </td>
                <td>{{ talk.type }}</td>
                <td>
                  <a href="{{ url_for('talks.edit', pk=talk.id) }}" class="button tiny radius">Edit</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% elif current_event.is_call_for_proposals_active %}
        The call for proposals is still open. Why not
        <a href="{{ url_for('talks.submit') }}">submit a talk</a>?
      {% elif current_event.is_call_for_proposals_expired %}
        You didn't submit any talks for {{ current_event }}. Hopefully you will
        next time.
      {% else %}
        The call for proposals hasn't started yet.
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h2>Your Volunteer Status</h2>
      <p>
        {% if current_user.is_volunteer %}
          You are signed up to be a volunteer. Thanks!
          <a href="{{ url_for('profile.unvolunteer') }}">I changed my mind.</a>
        {% else %}
          You aren't signed up to be a volunteer.
          <a href="{{ url_for('profile.volunteer') }}">Sign me up!</a>
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}
