{% extends 'layouts/base.html' %}

{% from 'macros/forms.html' import horizontal_field %}

{% block title %}Settings - {{ super() }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h1>My settings</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <form action="{{ url_for('profile.settings') }}" method="POST">
        {{ form.hidden_tag() }}
        {{ horizontal_field(form.name) }}
        {{ horizontal_field(form.email) }}
        {{ horizontal_field(form.twitter_handle) }}
        {{ horizontal_field(form.bio) }}
        <div class="form-actions">
          <button type="submit" class="button radius">Update settings</button>
        </div>
      </form>

      <a href="{{ url_for('security.change_password') }}">Change password</a>
    </div>
  </div>
{% endblock %}
