{% extends 'layouts/base.html' %}

{% block title %}Talk - {{ talk }} - {{ super() }}{% endblock %}

{% block content %}
  <div class="row">
    <h1>{{ talk }}</h1>

    {% if current_event.schedule_is_published and talk.presentation %}
      <small>{{ talk.presentation.slot }}</small>
    {% endif %}

    <h4>
      <a href="{{ url_for('speakers.profile', pk=talk.user.id) }}">
        {{ talk.user }}
      </a>
    </h4>

    <dl>
      <dt>Audience level:
      <dd>{{ talk.level }}
      {% if talk.category %}
        <dt>Category:
        <dd>{{ talk.category }}
      {% endif %}
      {% if talk.video_url %}
        <dt>Watch:
        <dd><a href="{{ talk.video_url }}">{{ talk.video_url }}</a>
      {% endif %}
    </dl>

    <h3>Description</h3>
    {{ talk.description|rst|safe }}

    {% if talk.abstract %}
      <h3>Abstract</h3>
      {{ talk.abstract|rst|safe }}
    {% endif %}
  </div>
{% endblock %}
