{% extends 'layouts/base.html' %}

{% import 'foundation_wtf.html' as wtf %}

{% block title %}Submit a Talk - {{ super() }}{% endblock %}

{% block main %}
  <div class="row">
    <div class="large-12 columns">
      <form method="POST">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, False) }}

        <div class="row">
          {{ wtf.horizontal_field(form.name, placeholder='Title') }}
        </div>
        <div class="row">
          {{ wtf.horizontal_field(form.description, placeholder='Description') }}
        </div>
        <div class="row">
          {{ wtf.horizontal_field(form.level, placeholder='Level') }}
        </div>
        <div class="row">
          {{ wtf.horizontal_field(form.type, placeholder='Type') }}
        </div>
        <div class="row">
          {{ wtf.horizontal_field(form.duration, placeholder='Duration') }}
        </div>
        <div class="row">
          {{ wtf.horizontal_field(form.abstract, placeholder='Abstract') }}
        </div>
        <div class="row">
          {{ wtf.horizontal_field(form.objectives, placeholder='Objectives') }}
        </div>
        <div class="row">
          {{ wtf.horizontal_field(form.target_audience, placeholder='Audience') }}
        </div>
        <div class="row">
          {{ wtf.horizontal_field(form.outline, placeholder='Outline') }}
        </div>
        <div class="row">
          {{ wtf.horizontal_field(form.additional_requirements, placeholder='Additional Requirements') }}
        </div>
        <div class="row">
          {{ wtf.horizontal_field(form.recording_release, placeholder='Recording Release') }}
          <small>
            By submitting your talk proposal, you agree to give permission to
            Big Apple Py to record, edit, and release audio and/or video of your
            presentation. If you do not agree to this, please uncheck this box.
            See <a href="{{ url_for('talks.recording_release') }}">Recording
              Release</a> for details.
          </small>
        </div>

        <div class="form-actions">
          <button type="submit" class="button radius">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
