{% from 'macros/common.html' import messages %}

<!doctype html>
<html>
  <head>
    <title>{% block title %}{{ current_event }}{% endblock%}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    <meta name="msapplication-TileColor" content="#182833">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/metro-icon.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <script src="{{ url_for('static', filename='bower_components/modernizr/modernizr.js') }}"></script>
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <nav class="top-bar" data-topbar data-options="mobile_show_parent_link: false">
      <ul class="title-area">
        <li class="name">
          <a href="{{ url_for('home.index') }}" title="{{ current_event }} Home">
            <img src="{{ url_for('static', filename='img/logo-notext.png') }}" alt="{{ current_event }} logo">
          </a>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>Menu</span></a>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          {% for entry in navbar %}
          <li class="{{ entry.name }} {% if entry.visible_children|list %}has-dropdown{% endif %}">
              <a href="{{ entry.url() }}">{{ entry.name }}</a>
              {% if entry.visible_children|list %}
              <ul class="dropdown">
                {% for child in entry.visible_children %}
                <li><a href="{{ child.url() }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
          {% endfor %}

          {% if current_user.is_authenticated() %}
            <li class="has-dropdown">
              <a href="#"><strong>Hi, {{ current_user }}</strong></a>
              <ul class="dropdown">
                <li><a href="{{ url_for('profile.dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('profile.settings') }}">Settings</a></li>
                {% if current_user.has_role('admin') %}
                  <li><a href="/admin/">Admin</a></li>
                {% endif %}
              </ul>
            </li>

            <li class="login">
              <a href="{{ url_for('security.logout') }}" class="button">Log out</a>
            </li>
          {% else %}
            <li class="login">
              <a href="{{ url_for('security.login') }}" class="button">Log in</a>
            </li>
            <li class="register">
              <a href="{{ url_for('security.register') }}" class="button">Sign up</a>
            </li>
          {% endif %}
        </ul>
      </section>
    </nav>

    <div id="content">
      {% block messages %}
        {{ messages() }}
      {% endblock %}

      {% block content %}{% endblock %}
    </div>

    <footer>
      <section class="credits">
        {{ current_event }} is a production of <a href="http://bigapplepy.org">Big Apple Py</a>.<br>
        Artwork by <a href="http://www.jessiesima.com">Jessie Sima</a>. UX by <a href="https://www.linkedin.com/in/allisonrcameron">Allison Cameron</a>. Hosting provided by <a href="http://www.rackspace.com">Rackspace</a>.<br>
        Questions? Comments? Please contact <a href="mailto:organizers@pygotham.org">organizers@pygotham.org</a>.<br>
      </section>
    </footer>

    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/foundation/js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
