{% extends 'foundation_base.html' %}

{% from 'macros/common.html' import messages %}

{% block title %}{{ current_event }}{% endblock %}

{% block foundation_styles %}
  {% assets 'css_foundation' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% if config['FOUNDATION_USE_ICONS'] %}
    <link rel="stylesheet" href="{{ url_for('foundation.static', filename='css/foundation-icons.css') }}">
  {% endif %}
{% endblock %}

{% block foundation_js_bottom %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.11/fastclick.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.{% if config['FOUNDATION_USE_MINIFIED'] %}min.{% endif %}js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.0.7/jquery.placeholder.min.js"></script>

  {% assets 'js_foundation' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}

{% block styles %}
  {{ super() }}

  <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

  {% assets 'css_screen' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" media="screen, projection">
  {% endassets %}
  {% assets 'css_print' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" media="print">
  {% endassets %}
{% endblock %}

{% block body_content %}
  <div id="wrapper" class="{% block body_class %}{% endblock %}">
    {% block header %}
      <header>
        {% block navbar %}
          <nav class="top-bar" data-topbar>
            <ul class="title-area">
              <li class="name">
                <h1><a href="{{ url_for('home.index') }}">{{ current_event }}</a></h1>
              </li>
              <li class="toggle-topbar menu-icon">
                <a href="#"><span>Menu</span></a>
              </li>
            </ul>

            <section class="top-bar-section">
              <ul class="right">
                <li class="about has-dropdown">
                  <a href="#">About</a>
                  <ul class="dropdown">
                    <li><a href="{{ url_for('about.faq') }}">FAQ</a></li>
                    <li><a href="{{ url_for('about.code_of_conduct') }}">Code of Conduct</a></li>
                    <li><a href="{{ url_for('about.privacy_policy') }}">Privacy Policy</a></li>
                  </ul>
                </li>
                {% if current_event.talks_are_published %}
                  <li class="events has-dropdown">
                    <a href="#">Events</a>
                    <ul class="dropdown">
                      <li><a href="{{ url_for('talks.index') }}">Talk List</a></li>
                      <li><a href="{{ url_for('talks.schedule') }}">Talk Schedule</a></li>
                      <li>
                        <a href="https://pygotham2014socialevent.eventbrite.com">
                          Unnamed Social Event
                        </a>
                      </li>
                    </ul>
                  </li>
                {% endif %}
                <li class="speaking has-dropdown">
                  <a href="#">Speaking</a>
                  <ul class="dropdown">
                    <li><a href="{{ url_for('talks.call_for_proposals') }}">Call for Proposals</a></li>
                    {% if current_event.is_call_for_proposals_active %}
                      <li><a href="{{ url_for('talks.submit') }}">Submit a Talk</a></li>
                    {% endif %}
                  </ul>
                </li>
                <li><a href="{{ url_for('venue.index') }}">Venue</a></li>
                <li class="sponsors has-dropdown">
                  <a href="#">Sponsors</a>
                  <ul class="dropdown">
                    <li><a href="{{ url_for('sponsors.index') }}">Sponsors</a></li>
                    <li><a href="{{ url_for('sponsors.apply') }}">Apply to be a Sponsor</a></li>
                    <li><a href="{{ url_for('sponsors.prospectus') }}">Sponsorship Prospectus</a></li>
                  </ul>
                </li>
                <li><a href="http://bigapplepy.org">Big Apple Py</a></li>
                <li class="registration has-dropdown">
                  <a href="#">Registration</a>
                  <ul class="dropdown">
                    <li><a href="{{ url_for('registration.information') }}">Information</a></li>
                    {% if current_event.is_registration_active %}
                      <li><a href="{{ current_event.registration_url }}">Register</a></li>
                    {% endif %}
                  </ul>
                </li>
                {% if current_user.is_authenticated() %}
                  <li class="has-dropdown">
                    <a href="#"><strong>Hi, {{ current_user }}</strong></a>
                    <ul class="dropdown">
                      <li><a href="{{ url_for('profile.dashboard') }}">Dashboard</a></li>
                      <li><a href="{{ url_for('profile.settings') }}">Settings</a></li>
                      {% if current_user.has_role('admin') %}
                        <li><a href="/admin/">Admin</a></li>
                      {% endif %}
                    </ul>
                  </li>
                  <li class="login">
                    <a href="{{ url_for('security.logout') }}" class="button radius">Log out</a>
                  </li>
                {% else %}
                  <li class="login">
                    <a href="{{ url_for('security.login') }}" class="button radius">Log in</a>
                  </li>
                  <li class="register">
                    <a href="{{ url_for('security.register') }}" class="button radius">Sign up</a>
                  </li>
                {% endif %}
              </ul>
            </section>
          </nav>
        {% endblock %}
      </header>
    {% endblock %}

    {% block content %}
      <div class="content">
        {% block messages %}
          {{ messages() }}
        {% endblock %}

        {% block jumbotron %}{% endblock %}

        {% block main %}{% endblock %}
      </div>

      {% block footer %}
        <footer>
          <h4>PyGotham 2014</h4>
          <section class="credits">
            PyGotham 2014 is a production of <a href="http://bigapplepy.org">Big Apple Py</a>.<br>
            Design by <a href="http://sonjaleix.com">Sonja Leix</a>. Hosting provided by <a href="http://www.rackspace.com">Rackspace</a>.<br>
            Questions? Comments? Please contact <a href="mailto:pygotham@googlegroups.com">pygotham@googlegroups.com</a>.<br>
          </section>
        </footer>
      {% endblock %}
    {% endblock %}
  </div>
{% endblock %}

{% block scripts %}
  {% if config['GOOGLE_ANALYTICS_PROFILE_ID'] %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ config['GOOGLE_ANALYTICS_PROFILE_ID'] }}', 'pygotham.org');
      ga('send', 'pageview');
    </script>
  {% endif %}
{% endblock %}
