{% extends 'foundation_base.html' %}

{% from 'macros/common.html' import messages %}

{% block title %}{{ current_event }}{% endblock %}

{% block styles %}
  {{ super() }}

  <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

  {% assets 'css_screen' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" media="screen, projection">
  {% endassets %}
  {% assets 'css_print' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" media="print">
  {% endassets %}
{% endblock %}

{% block body_attribs %} class="{% block body_class %}{% endblock %}" {% endblock %}

{% block body_content %}
  <div id="wrapper">
    {% block navbar %}
      <header></header>
    {% endblock %}

    {% block content %}
      <div class="content">
        {% block messages %}
          {{ messages() }}
        {% endblock %}

        {% block jumbotron %}{% endblock %}

        {% block main %}{% endblock %}
      </div>

      {% block footer %}
        <footer>
          {{ current_event }} is a production of <a href="http://bigapplepy.org">Big Apple Py</a>.<br>
          Hosting provided by <a href="http://www.rackspace.com">Rackspace</a>.<br>
          Questions? Comments? Please contact <a href="mailto:pygotham@googlegroups.com">pygotham@googlegroups.com</a>.<br>
        </footer>
      {% endblock %}
    {% endblock %}
  </div>
{% endblock %}
