{% extends 'layouts/base.html' %}

{% block title %}Venue Information - {{ super() }}{% endblock %}

{% block body_class %}{{ super() }} venue{% endblock %}

{% block main %}
  <div class="row">
    <h1>Venue Information</h1>

    <h2>AMA Executive Conference Center</h2>
    <address>1601 Broadway
New York, NY 10019</address>
    <a href="http://www.amaconferencecenter.org/new-york.htm">
      http://www.amaconferencecenter.org/new-york.htm
    </a>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3022.0722417264183!2d-73.9849546!3d40.7604358!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258567734d355%3A0xdea803175360619e!2s1601+Broadway%2C+New+York%2C+NY+10019!5e0!3m2!1sen!2sus!4v1407347057933"
      width="630" height="450" frameborder="0" style="border:0"></iframe>
  </div>
{% endblock %}
