div.py-content {
  margin-bottom: -120px;
  padding-bottom: 120px;
  padding-top: 30px;
}

div.py-content .alert {
  margin-bottom: 0;
  margin-top: 20px;
}

footer {
  background: #f5f5f5;
  bottom: 0;
  height: 120px;
  position: absolute;
  text-align: center;
  width: 100%;
}

body.home div.py-content {
  text-align: center;
}
