{% extends 'layouts/base.html' %}

{% from 'foundation_wtf.html' import horizontal_field %}

{% block title %}Sponsorship Application - {{ super() }}{% endblock %}

{% block main %}
  <div class="row">
    <h1>Apply to be a Sponsor</h1>

    <form action="{{ url_for('sponsors.apply') }}" method="POST">
      {{ form.hidden_tag() }}
      {{ horizontal_field(form.name) }}
      {{ horizontal_field(form.contact_name) }}
      {{ horizontal_field(form.contact_email) }}
      {{ horizontal_field(form.level) }}
      <div class="btn-group">
        <button type="submit" class="btn btn-primary">Apply</button>
        <p>
          By submitting a sponsorship application you are agreeing to the
          <a href="{{ url_for('sponsors.terms') }}">terms and
          conditions</a>.
        </p>
      </div>
    </form>
  </div>
{% endblock %}
