{% extends 'layouts/base.html' %}

{% block title %}Sponsors - {{ super() }}{% endblock %}

{% block body_class %}{{ super() }} sponsors{% endblock %}

{% block content %}
  <div class="row">
    <h1>{{ current_event }} Sponsors</h1>

    {% if not has_sponsors %}
      <p>
        There aren't any sponsors yet.  <a href="{{
          url_for('sponsors.prospectus') }}">What to be the first to
          sponsor?</a>
      </p>
    {% else %}
      {% for level in levels %}
        {% if level.accepted_sponsors.count() %}
          <section class="level">
            <h2>{{ level }}</h2>

            <ul class="sponsors large-block-grid-3">
              {% for sponsor in level.accepted_sponsors.order_by('name').all() %}
                <li class="columns large-4">
                  <a name="{{ sponsor.slug }}"></a>
                  <div>
                    <a href="{{ sponsor.url }}">
                      <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
                    </a>
                    <h4>{{ sponsor }}</h4>
                    <p><a href="{{ sponsor.url }}">{{ sponsor.url }}</a></p>
                    {{ sponsor.description|rst|safe }}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </section>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
